
SwiftyiRate.xcworkspace/xcuserdata/liuyanghui.xcuserdatad/UserInterfaceState.xcuserstate

Example/Example.xcodeproj/xcuserdata/liuyanghui.xcuserdatad/xcschemes/xcschememanagement.plist

SwiftyiRate.xcodeproj/xcuserdata/liuyanghui.xcuserdatad/xcschemes/xcschememanagement.plist
